.zoom-element .Icon--zoom:before {
  content: '\F058';
}

.zoomed .zoom-element .Icon--zoom{
  color: #e81c4f;
}

/* Hide Controls and stickers*/
.zoomed .GalleryTweet, .zoomed .GalleryNav, .zoomed .modal-btn,
.zoomed .StickersMediaImage-blackBar, .zoomed .StickersMediaImage-stickerLink {
  display: none !important;
}

.GalleryNav.GalleryNav--next {
  width: 33% !important;
}

.Gallery-media .media-image {
  cursor: zoom-in;
}

.zoomed .Gallery-media img.media-image,
.zoomed .Gallery-media .media-image img.StickersMediaImage-passthroughImage {
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-out;
  height: auto !important;
  width: auto !important;
  pointer-events: all;
}

.zoomed .Gallery-media div.media-image {
  background-image: none !important;
  width: 100% !important;
  height: 100% !important;
}

.zoomed .Gallery-media .media-image img.StickersMediaImage-passthroughImage {
  opacity: 1 !important;
}
.Gallery-content {
  background-color: rgba(0, 0, 0, 0) !important;
}

.Gallery-media {
  transition: background-color 0.5s ease;
}

.zoomed .Gallery-media {
  transition: background-color 0s ease;
  pointer-events: none;
}

.zoomed .Gallery-media {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0 0 0 0;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoomed .Gallery-content {
  transition: height 0.1s ease, width 0.1s ease;
  min-height: 0px !important;
  width: 99% !important;
  height: 100% !important;
  animation: enlarge 0.3s ease-in-out forwards;
  pointer-events: none;
}

/*Use animation because transition needs initial height
  and setting an initial height manually messes up with twitter's
  min-height calculation after going to next picture
*/
@keyframes enlarge {
  from {
    /*50% is just a random value*/
    height: 50%;
  }

  to {
    height: 99%;
  }
}
